<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mingproductions.evtracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ListGameActivity"
            android:label="@string/games_title" >
        </activity>
        
        <activity 
            android:name=".ListPokemonActivity"
            android:label="@string/list_pokemon_name">
            <meta-data 
                android:value=".GameListActivity"
                android:name="android.support.PARENT_ACTIVITY" />
        </activity>
        
        <activity
            android:name=".EVDetailActivity"
            android:label="@string/list_pokemon_name" >
        </activity>
        
        <activity
            android:name=".EVBattledPokemonActivity"
            android:label="@string/battled" >
        </activity>
        
        <activity 
            android:name=".NewGameActivity" 
            android:label="@string/new_game" >
        </activity>
        
        <activity 
            android:name=".NewPokemonActivity" 
            android:label="@string/new_pokemon">
        </activity>
        <activity android:name=".EVItemsActivity"></activity>
        <activity android:name=".ListPokedexActivity" android:label="@string/pokedex_title"></activity>
        
    </application>

</manifest>
