<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Game</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>pokemonruby</string>
			<key>gameName</key>
			<string>Pokemon Ruby</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>pokemonsapphire</string>
			<key>gameName</key>
			<string>Pokemon Sapphire</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>pokemonemerald</string>
			<key>gameName</key>
			<string>Pokemon Emerald</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>pokemonfirered</string>
			<key>gameName</key>
			<string>Pokemon Fire Red</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>pokemonleafgreen</string>
			<key>gameName</key>
			<string>Pokemon Leaf Green</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>pokemondiamond</string>
			<key>gameName</key>
			<string>Pokemon Diamond</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>pokemonpearl</string>
			<key>gameName</key>
			<string>Pokemon Pearl</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>pokemonplatinum</string>
			<key>gameName</key>
			<string>Pokemon Platinum</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>pokemonheartgold</string>	
			<key>gameName</key>
			<string>Pokemon Heart Gold</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>pokemonsoulsilver</string>
			<key>gameName</key>
			<string>Pokemon Soul Silver</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>pokemonblack</string>
			<key>gameName</key>
			<string>Pokemon Black</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>pokemonwhite</string>
			<key>gameName</key>
			<string>Pokemon White</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>pokemonblack2</string>
			<key>gameName</key>
			<string>Pokemon Black 2</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>pokemonwhite2</string>
			<key>gameName</key>
			<string>Pokemon White 2</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>pokemonx</string>
			<key>gameName</key>
			<string>Pokemon X</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>pokemony</string>
			<key>gameName</key>
			<string>Pokemon Y</string>
		</dict>
	</array>
</dict>
</plist>
